.clear-btn {
    display: flex;
    flex: 1;
    height: 3em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.4em;
    outline: 1px solid rgb(138, 75, 75);
    height: 4em;
    background-color: #787292;
  }
  